# Ignore log files
*.log

# Ignore juliaup files and julia logs
.julia/juliaup/
.julia/logs

# Ignore julia package related directories
.julia/compiled
.julia/environments
.julia/packages
.julia/registries
.julia/scratchspaces
