#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
	address: "127.0.0.1:6600",
	password: None,
	theme: Some("theme"),
	cache_dir: None,
	on_song_change: ["~/.config/rmpc/notify"],
	volume_step: 5,
	max_fps: 30,
	scrolloff: 100,
	wrap_navigation: false,
	enable_mouse: true,
	enable_config_hot_reload: true,
	status_update_interval_ms: 1000,
	rewind_to_start_sec: None,
	reflect_changes_to_playlist: false,
	select_current_song_on_change: true,
	browser_song_sort: [Disc, Track, Artist, Title],
	directories_sort: ModifiedTime(group_by_type: true, reverse: true),
	album_art: (
		method: Auto,
		max_size_px: (width: 1200, height: 1200),
		disabled_protocols: ["http://", "https://"],
		vertical_align: Center,
		horizontal_align: Center,
	),
	keybinds: (
		global: {
			"1":       SwitchToTab("Queue"),
			"2":       SwitchToTab("Artists"),
			"3":       SwitchToTab("Recent"),
			"4":       SwitchToTab("Search"),
		}
	),
	search: (
		case_sensitive: false,
		mode: Contains,
		tags: [
		(value: "any",         label: "Any Tag"),
		(value: "artist",      label: "Artist"),
		(value: "album",       label: "Album"),
		(value: "albumartist", label: "Album Artist"),
		(value: "title",       label: "Title"),
		(value: "filename",    label: "Filename"),
		(value: "genre",       label: "Genre"),
		],
	),
	artists: (
		album_display_mode: SplitByDate,
		album_sort_by: Date,
	),
	tabs: [
	(
			name: "Queue",
			pane: Split(
				direction: Horizontal,
				panes: [(size: "40%", pane: Pane(AlbumArt)), (size: "60%", pane: Split(
					borders: "ALL",
					direction: Vertical,
					panes: [
					(size: "2", borders: "BOTTOM", pane: Split(
						direction: Horizontal,
						panes: [
							(size: "1", pane: Pane(Empty())),
							(size: "100%", pane: Pane(QueueHeader())),
						])
					),
					(size:"50%", pane: Split(
						direction: Horizontal,
						panes: [
							(size: "1", pane: Pane(Empty())),
							(size: "100%", pane: Pane(Queue)),
						])
					),
					(size:"3", borders: "TOP|BOTTOM", pane: Split(
							direction: Horizontal,
							panes: [
							(size: "50%", pane: Pane(Property(content: [
								(kind: Text(" ")),
								(kind:Property(Widget(States(
										active_style: (fg: "white", modifiers: "Bold"),
										separator_style: (fg: "white")
									))))
								], align: Left))),
							(size: "50%", pane: Pane(Property(content: [
								(kind: Text("Queue remaining: ")),
								(kind: Property(Status(QueueTimeRemaining()))),
								(kind: Text(" "))
								], align: Right)))
							],
						)),
					(size: "50%", pane: Pane(Cava))
					])
				)],
			),
		),
	(
			name: "Artists",
			pane: Pane(Artists),
		),
	(
			name: "Recent",
			pane: Pane(Directories),
		),
	(
			name: "Search",
			pane: Pane(Search),
		),
	],
	cava: (
		lower_cutoff_freq: 20,
		higher_cutoff_freq: 20000,
		input: (
			method: Fifo,
			source: "/tmp/mpd.fifo",
			sample_rate: 44100,
			channels: 2,
			sample_bits: 16,
		),
		smoothing: (
			noise_reduction: 40,
		),
	),
)
